* {
  padding: 10;
}
.logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo img {
  width: 80px;
  height: 50px;
}


.navbar {
  background-color: hwb(0 4% 96%);
  padding: 10, 10;
}



